@CHARSET "UTF-8";
.table1{
	border: 1px solid #aaa;
	width: 100%;
}

.table1 thead tr>th{
	background-color:#F0F0F0;
	border: 1px solid #aaa;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
.table1 tbody tr>td{
	border: 1px solid #aaa;
	line-height: 30px;
	text-align: center;
}

.table1 tbody tr:HOVER{
	background-color: #E5F3FF;
}
