<div class="windows-outname-infocont">
  <table width="100%" border="0" class="windows-outname-table_gl">
    <tr>
      <td valign="top">
      <div class="windows-outname-top">
          <h1> <span class="wbh-common-model">{mc}</span></span> </h1>
      </div>
       </td>
    </tr>
    <tr>
      <td>
	      <table width="100%" border="0" class="windows-outname-table_gl">
	          <tr>
	            <td width="50%" valign="top" class="windows-outname-table-right"><!-- 主体 start -->
	              <!-- 左1 -->
	              <div  id="left_1" class="wbh-common-box">

	              </div>
	              <!-- 左2 -->
	              <div id="left_2" class="wbh-common-box">
	              
	              </div>
	              <!-- 左3 -->
	              <div id="left_3" class="wbh-common-box">
	              
	              </div>
	              
	            </td> 
	            <!-- 主体右 start -->
	            <td  width="50%" valign="top" class="windows-outname-table-left">
	             <!-- 右1 -->
	              <div id="right_1" class="wbh-common-box">
	               
	              </div>
	              <!-- 右2 -->
	              <div id="right_2" class="wbh-common-box">
	               
	              </div>
	              <!-- 右3 -->
	              <div id="right_3" class="wbh-common-box">
	                
	              </div>
	              <!-- 右4 -->
	              <div id="right_4" class="wbh-common-box">
	                
	              </div>
	            </td>
	          </tr>
	        </table>
        </td>
    </tr>
  </table>
  <!-- 主体 end -->
</div>

