

<table width="100%" border="0" class="windows-out-pcinfo-table_lishi">
  <tr>
    <td width="30%" class="windows-out-pcinfo-greenbg">类型</td>
    <td width="13%" class="windows-out-pcinfo-greenbg">名额(人)</td>
    <td width="13%" class="windows-out-pcinfo-greenbg">比例(%)</td>
    <td width="15%" class="windows-out-pcinfo-greenbg">学生可申请</td>
    <td width="29%" class="windows-out-pcinfo-greenbg">评选范围</td>
  </tr>
  <tpl for=".">
  <tr>
    <td><div>{lxmc}</div></td>
    <td><div>{me}</div></td>
    <td><div>{bl}</div></td>
    <td><div>{xssfksq}</div></td>
    <td><div>{jsfw}</div></td>
  </tr>
  </tpl>
</table>