
<tpl for=".">
<table width="100%" border="0" class="windows-out-pcinfo-table_gl" >
  <tr>
    <td width="25%" class="windows-out-pcinfo-td-right">批次名称：</td>
    <td width="75%">{mc}</td>
  </tr>
  <tr>
    <td class="windows-out-pcinfo-td-right" >评定学年/学期：</td>
    <td>{xn}学年 {xq}</td>
  </tr>
  <tr>
    <td  class="windows-out-pcinfo-td-right">申请时间：</td>
    <td>{startDate} 至 {endDate}</td>
  </tr>
  <tr>
    <td  class="windows-out-pcinfo-td-right">是否启用：</td>
    <td>{sfqy}</td>
  </tr>
</table>
</tpl>