<div class="zxj-yuxuan_infocont">
	<table width="100%" border="0" class="zxj-yuxuan_table_gl">
		<tr>
			<td valign="top"><div class="zxj-yuxuan_top">
					<h1>
						<span class="zxj-yuxuan_model_xinxi">{mc}提名</span>
					</h1>
				</div></td>
		</tr>
		<tr>
			<td><table width="100%" border="0" class="zxj-yuxuan_table_gl">
					<tr>
						<td width="50%" valign="top" class="zxj-yuxuan_table-right">
							<!-- 主体 start -->
							<div class="zxj-yuxuan_box">
								<h2>
									<span class="zxj-yuxuan_title ">检索学生</span>
								</h2>
								<table width="100%" border="0" class="zxj-yuxuan_table_gl">
									<tr>
										<td width="30%"><span class="zxj-yuxuan_orange">姓名/学号[*]：</span></td>
										<td width="70%"><div id="zxj_tm_queryStu"></div></td>
									</tr>

								</table>
							</div>
							<div id="zxj_tm_stuInfo" class="zxj-yuxuan_box">
								<h2>
									<span class="zxj-yuxuan_title ">基本信息</span>
								</h2>

							</div>
							<div id="zxj_tm_history" class="zxj-yuxuan_box">
								<h2>
									<span class="zxj-yuxuan_title ">历史信息【<span class="zxj-yuxuan_orange">最近三条</span>】</span>
								</h2>

							</div>
						</td>
						<td width="50%" valign="top" class="zxj-yuxuan_table-left">
							<!-- 主体 start -->
							<div id="zxj_tm_tmInfo" class="zxj-yuxuan_box">
								<h2>
									<span class="zxj-yuxuan_title ">提名信息</span>
								</h2>

							</div>
							<div class="zxj-yuxuan_box">
								<table width="100%" border="0">
									<tr>
										<td width="30%"></td>
										<td width="70%"><p class="zxj-yuxuan_pcenter">
												<button class="wbh-common-buttondefault zxj-yuxuan_buttonwid"
													type="button" name="zxj_tm_tm">提名</button>
												<button
													class="wbh-common-buttondefault zxj-yuxuan_buttonmaf zxj-yuxuan_buttonwid"
													type="button" name="zxj_tm_gb">关闭</button>
											</p></td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table></td>
		</tr>
	</table>
	<!-- 主体 end -->
</div>

