<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>drag</title>
    <script src="../../public/common/common.js"></script>
    <script src="../../public/common/system.js"></script>
    <script src="../../public/drag/drag.js"></script>
    <style>
        .drag{
            width: 100px;
            height: 20px;
            background-color: orange;
        }

        .drop{
            width: 200px;
            height: 200px;
            background-color: green;
        }
    </style>
</head>
<body ng-controller="controller">
<div cg-drop class="drop" on-drop-success="successHandler($data,dragList)">
    <div ng-repeat="pp in dragList">
        <div cg-drag on-drop-success="dropSuccessHandler($data,dragList)" drag="pp" class="drag">{{pp.id}} ：
            {{pp.name}}
        </div>
    </div>
</div>
<br/>
<div cg-drop class="drop" on-drop-success="successHandler($data,dragTarList)">
    <div ng-repeat="pp in dragTarList">
        <div cg-drag on-drop-success="dropSuccessHandler($data,dragTarList)" drag="pp" class="drag">{{pp.id}} ：
            {{pp.name}}
        </div>
    </div>
</div>
</body>
</html>