@CHARSET "UTF-8";
.common_table {
	font-family: '微软雅黑';
	width: 100%;
	height: auto;
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	border: 1px solid #eee;
}
.common_table tbody tr:HOVER {
	background-color: #FAF9E7;
}

.common_table thead tr th {
	text-align: center;
	background-color: #428BCA;
	font-size: 13px;
	padding: 5px 8px;
	color: #FFF;
	border-spacing: 0px;
	border: 1px solid #eee;
}

.common_table tbody tr td {
	padding: 5px 8px;
	text-align: center;
	border-spacing: 0px;
	border: 1px solid #eee;
	border-width: 1px;
}

.common_table tr:nth-child(even) {
	background-color: #FFF;
}

.common_table tr:nth-child(odd) {
	background-color: #fcfcfc;
}
