<div class="pj-content">
	<div class="pj-left" id="xspj_pjxs_show">
	</div>
	
	<div class="pj-content">
	<div class="clear"></div>
	<div class="daiping">
		<h3 class="blue lft-border">
			待评教师
		</h3>
		<span class="pj-right pad-topb">- 点击下面的教师进行评教</span>
	</div>
	<div class="clear"></div>
	
	<div class="pj-ul" id="xspj_pjTeacher_show">
	
	</div>
	
	<div class="daiping">
		<h3 class="lft-border marg-topa " >
			<span class="blue">当前评价教师及课程：</span><span class="org" id="xspj_pj_teacher">{jzgXm}</span>-<span class="org" id="xspj_pj_kcmc">{kcmc}</span>
		</h3>
		<span class="pj-right">
		</span>
	</div>
	<div class="clear"></div>
	
	<div class="pj-table" id="xspj_table_show">
		
	</div>
	<!-- 
	<div class="pj-dui sizeb bold" >
		您对
		<span class="org" id="yjjy_jsxm">{yjjy4jsxm}</span> 老师所教的
		<span class="blue" id="yjjy_kcmc"> {yjjy4kcmc}</span> 有何意见及建议？ （请在下面填写）
	</div>
	<div class="pj-area" >
		<textarea class="area-style" name="xspj_yjjy" cols="" rows="" id="xspj_yjjy">{yjjy4Cont}</textarea>
	</div>
	 -->
	<div class="clear"></div>
	<div class="pj-dui sizea bold org">
		说明：学生针对评教项目对教师进行评教，提交结果时，系统给出提示“确定要提交结果吗？” 点击确定即保存
		<span class="blue">该老师</span>的评教成功，之后便无法修改。
	</div>
	<div class="clear"></div>

	<div class="pj-jieguo">
		<input class="pj-submit" type="submit" name="xspjSave" id="xspj_commit" value="提交评教结果" />
	</div>
</div>

