@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	background:#f9f9f9;
	font-family:'microsoft yahei', Arial, Helvetica, sans-serif;
}
.login-bg {
	background:#f9f9f9;
}
.login-menu {
	background:#48a1dd;
	padding:10px 0;
	color:#fff;
	font-size:1.2em;
	text-align:center;
}
.login-form {
	padding:0 1em;
}
.login-input {
	font-family:'microsoft yahei', Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 100%;
	height: 45px;
	padding: 6px 12px;
	font-size: 1.2em;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #adadad;
	border-radius: 5px;
	margin:20px 0;
 -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.login-input:focus {
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.login-btn {
	font-family:'microsoft yahei', Arial, Helvetica, sans-serif;
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:1.4em;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	border-radius:5px;
	color:#fff;
	border:none;
	background-color:#48a1dd;
	width:100%;
	margin:10px 0
}
.login-btn:active, .login-btn:focus, .login-btn:hover {
	color:#fff;
	background-color:#3476a3;
}
.login-help {
	margin:10px 0;
	padding:0;
	text-align:right;
}
.login-help a {
	color:#2c94d9;
	font-size:1.2em;
	text-decoration:none;
}
.login-hr-line {
	height:31px;
	background:url(../../images/wechat/hr-line.png) center center repeat-x;
}
.login-hr-icon {
	background:url(../../images/wechat/hr-icon.jpg) center center no-repeat;
	margin:0 auto;
	width:56px;
	height:31px;
	display:block;
}
.login-tishi {
	color:#f08e02;
	font-size:1em;
	text-align:center;
	margin-top:2em
}
.login-user a {
	margin:0 auto;
	width:119px;
	height:119px;
	display:block;
	text-indent:-1000px;
	background:url(../../images/wechat/user-pic.png) center center no-repeat;
	background-size:80%;
	margin-top:1.3em;
}
