<div class="wjcf-tongji_container">
  <!-- 顶部 start -->
  <div class="wjcf-tongji_top">
    <h3 class="floatRight"> <tpl for="xnxq"><span class="wjcf-tongji_term">{xnmc}<span class="wjcf-tongji_marginLeft">{xqmc}</span></span></tpl> </h3>
    <h1> <span class="wjcf-tongji_model">{cdmc}</span></span><span class="wjcf-tongji_user">{username}</span><span class="wjcf-tongji_dept">{bm}</span> </h1>
  </div>
  <!-- 顶部 end -->
  <!-- 主体 start -->
  <!-- 盒子 -->
  <div class="wjcf-tongji_box" id="wjcftjfx_pclx">
   
  </div>
  <!-- 盒子end -->
  <!-- 统计表start-->
  <div class="wjcf-tongji_box" id="wjcftjfx_tupian">
    <h2><span class="wjcf-tongji_title ">统计图</span></h2>
    <div class="wjcf-tongji_body" id="wjcftjfx_char"></div>
  </div>
  <!-- 统计表end-->
  <!--统计start-->
  <div class="wjcf-tongji_stats" id="wjcftjfx_select">
    
  </div>
  <!--统计end-->
  <!-- 列表 -->
  <div class="wjcf-tongji_body" id="wjcftjfx_grid">
    
  </div>
  <!--列表end-->
  
  <!-- 主体 end -->
</div>
