.sc_xsxfxx_top_table{
	width: 100%;
}
.sc_xsxfxx_top_table>tr>td{
	width: 25%;
}
.sc_xsxfxx_top_highlight{
	font-size: 18px;
	font-weight: bold;
	color: #43866E;
}
.sc_xsxfxx_top_row{
	line-height: 30px;
}
#sc_xsxfqktj_chart{
	border-top: 3px solid #AAA;
}
#sc_xsxfqktj_table table{
	border: 1px solid #aaa;
	width: 100%;
}

#sc_xsxfqktj_table table tr>th{
	background-color:#F0F0F0;
	border: 1px solid #aaa;
	width: 25%;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
#sc_xsxfqktj_table table tr>td{
	border: 1px solid #aaa;
	width: 25%;
	line-height: 30px;
	height: 80px;
}