@charset "utf-8";
/* CSS Document */

body{
	font-family:"微软雅黑";
	background: #e6e6e6 url(../images/change-password-bg.png) fixed;
	background-size: cover;
	font-size: 14px;
	overflow:hidden;
	}
.change-psword-box{
	margin-top:4em;
	}
.change-psword-box>div{
	margin-top: 4em;
	margin-bottom: 6em;
	}
.change-psword-head{
	text-align: center;
	color: #ffffff;
	}
.change-psword-head li{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-left: 157px;
	}
.change-psword-head li:before{
	content: '';
	position: absolute;
	display: block;
	background: url("../images/next-icon.png");
	width: 41px;
	height: 30px;
	left:-102px;
	top:50%;
	margin-top:-15px;
	}
.change-psword-head li:first-child{
	margin-left: 0;
	}
.change-psword-head li:first-child:before{
	background: none;
	}
.change-psword-head li>div{
	padding: 15px 10px 25px 10px;
	border-radius: 6px;
	background: #c8c8c8;
	min-width: 120px;
	min-height: 80px;
	}
.change-psword-head li.active>div{
	background: #738dc6;
	 }
.change-psword-head li span{
	position: absolute;
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	color: #c8c8c8;
	font-size: 24px;
	font-weight: 400;
	background: #ffffff;
	line-height:43px;
	border:2px solid #c8c8c8;
	left:50%;
	margin-left: -24px;
	bottom: -28px;
	}
.change-psword-head li.active span{
	color: #738dc6;
	border-color: #738dc6;
	}
.change-paword-con{
	position:absolute;
	left:0px;
	opacity:0;
	padding:25px 20px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background: #ffffff;
	box-shadow:2px 5px 20px #c7cdda,-2px -2px 20px #c7cdda;
	}
.change-paword-con.change-paword-01{
	left:50%;
	opacity:1;
	margin-left:-210px;
	z-index:1;
	}
.change-paword-con.change-paword-02{
	}
.change-paword-con.change-paword-03{

	}
.change-paword-con .form-control{
	height:38px;
	}
.user-img{
	display:inline-block;
	background:#f3f3f3;
	width:98px;
	height:98px;
	border-radius:50%;
	border:2px solid #96a9d4;
	overflow:hidden;
	}
.user-img img{
	margin-top:20px;
	}
.lab-img{
	display:inline-block;
	width:40px;
	height:40px;
	background:url(../images/user-name.jpg)
	}
.lab-img.lab-img-two{
	background:url(../images/password-icon.png);
	}
.lab-img.lab-img-two.new-pawrd{
	background-position:0 -66px;
	}
.lab-img.lab-img-two.new-pawrd-again{
	background-position:0 -133px;
	}
.change-paword-con .wid-20{
	width:20%;
	padding-right:5px;
	padding-left:5px;
	}
.change-paword-con .wid-80{
	width:80%;
	}
.change-paword-con .wid-75{
	width:75%;
	}
.change-paword-con .wid-60{
	width:60%;
	}
.change-paword-con .wid-49{
	width:48%;
	}
.change-paword-con .wid-20,.change-paword-con .wid-60,.change-paword-con .wid-80{
	float:left;
	height:38px;
	}
.color-red{
	color:#f97474;
	font-size:12px;
	line-height:30px;
	padding-left:12px;
	}
.bg-gray-input{
	border:none;
	background:#f2f2f2;
	box-shadow:none;
	}
.bg-gray-input:focus{
	box-shadow:none;
	}
.btn-blue{
	background:#738dc6;
	color:#fff;
	height:39px;
	line-height:26px;
	}
.btn-blue:hover{
	color:#fff;
	background:#6584C8;
	}
.mar-tb-30{
	margin-top:30px;
	margin-bottom:30px;
	}
.mar-t-58{
	margin-top:58px;
	margin-bottom:38px;
	}
