<div class="zxj-yuxuan_infocont">
	<table width="100%" border="0" class="zxj-yuxuan_table_gl">
		<tr>
			<td valign="top"><div class="zxj-yuxuan_top">
					<h1>
						<span class="zxj-yuxuan_model_xinxi">提名信息</span>
					</h1>
				</div></td>
		</tr>
		<tr>
			<td><table width="100%" border="0" class="zxj-yuxuan_table_gl">
					<tr>
						<td width="50%" valign="top" class="zxj-yuxuan_table-right">
							<!-- 主体 start -->
							<div id="zxj_edit_stuInfo" class="zxj-yuxuan_box">
								<h2>
									<span class="zxj-yuxuan_title ">基本信息</span>
								</h2>

							</div>
							<div id="zxj_edit_history" class="zxj-yuxuan_box">
								<h2>
									<span class="zxj-yuxuan_title ">历史信息【<span class="zxj-yuxuan_orange">最近三条</span>】</span>
								</h2>

							</div>
						</td>
						<td width="50%" valign="top" class="zxj-yuxuan_table-left">
						     <div  class="zxj-yuxuan_box" >
					                <h2><span class="zxj-yuxuan_title ">审核记录</span></h2>
					                <div style="height:80px; overflow-y:auto;"  id="zxj_sh_shInfo"></div>
					                </div>
							<!-- 主体 start -->
							<div id="zxj_edit_tmInfo" class="zxj-yuxuan_box">
								<h2>
									<span class="zxj-yuxuan_title ">提名信息</span>
								</h2>

							</div>
							<div class="zxj-yuxuan_box">
								<table width="100%" border="0">
									<tr>
										<td width="10%"></td>
										<td width="90%"><p class="zxj-yuxuan_pcenter">
												<button class="buttondefault zxj-yuxuan_buttonwid"
													type="button" name="zxj_edit_tm">提名</button>
													
												<button class="buttondefault zxj-yuxuan_buttonwid"
													type="button" name="zxj_edit_save">保存</button>	
												<button
													class="buttondefault  zxj-yuxuan_buttonwid"
													type="button" name="zxj_edit_gb">关闭</button>
											</p></td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table></td>
		</tr>
	</table>
	<!-- 主体 end -->
</div>

