<!DOCTYPE html>
	<div modal-form config="formConfig"></div>
	<div part-modal show-modal="vm1.showModal" class="ky-box clearfix" style="padding-top:0px">
		<h4>高层次项目立项奖励名单</h4>
		<table class="table table-hover">
			<tr>
				<th style="text-align:center">项目级别</th>
				<th style="text-align:center">项目类型</th>
				<th style="text-align:center">项目程度</th>
				<th style="text-align:center">项目主持人</th>
				<th style="text-align:center">奖励金额（万元）</th>
			</tr>
			<tr ng-repeat="it in vm1.items">
				<td style="text-align:center">{{it.level_}}</td>
				<td style="text-align:center">{{it.project_type}}</td>
				<td style="text-align:center">{{it.rank_}}</td>
				<td style="text-align:center"><a href="../personal/index.jsp?teaId={{it.tea_id}}">{{it.tea_name}}</a></td>
				<td style="text-align:center">{{it.fund}}</td>
			</tr>
		</table>
		<div class="clearfix keyan-page">
                    <p class="page-result pull-left">共 {{vm1.pagecount}} 页，数据 {{vm1.total}} 条</p>
                     <div class="pagination ky-page pull-right" ng-show="vm1.total &gt; vm1.size" pagination total-items="vm1.total" ng-model="vm1.index"
					max-size="10" items-per-page="vm1.size"
					class="pull-right" boundary-links="true"></div>	
                </div>
	</div>
	<div class="ky-box">
		<div class="ky-box-sec">
			<div class="dis-tab ">
				<div class="dis-t-cell wid-5 separate-l">
					<p class="section-tit">各项目级别奖励金额分布</p>
					<div echart config="levelconfig" height="350" on-click="queryLevel($params)"></div>
				</div>
				<div class="dis-t-cell wid-5 border-l separate-r">
					<p class="section-tit">各项目程度奖励金额分布</p>
					<div echart config="rankconfig" height="350" on-click="queryRank($params)"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="ky-box no-bottom">
      	<div class="ky-box-sec">
      		<p class="section-tit">立项奖获奖人员单位分布</p>
              <div class="img-box" echart config="deptchart" on-click="queryDept($params)">
              
              </div>
          </div>
      </div>
