<div class="zxj-yuxuan_infocont">
  <table width="100%" border="0" class="zxj-yuxuan_table_gl">
    <tr>
      <td valign="top"><div class="zxj-yuxuan_top">
          <h1> <span class="zxj-yuxuan_model_xinxi">{mc}审核</span></span> </h1>
        </div></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" class="zxj-yuxuan_table_gl">
          <tr>
            <td width="50%" valign="top" class="zxj-yuxuan_table-right"><!-- 主体 start -->
              <div id="zxj_sh_stuInfo" class="zxj-yuxuan_box">
                <h2><span class="zxj-yuxuan_title ">基本信息</span></h2>

              </div>
              <div id="zxj_sh_tmInfo" class="zxj-yuxuan_box">
                <h2><span class="zxj-yuxuan_title ">本次{mc}类型信息</span></h2>

              </div></td> 
            <td  width="50%" valign="top" class="zxj-yuxuan_table-left"><!-- 主体 start -->
            <div id="zxj_sh_history" class="zxj-yuxuan_box">
                <h2><span class="zxj-yuxuan_title ">历史信息【<span class="zxj-yuxuan_orange">最近三条</span>】</span></h2>
              </div>
              <div  class="zxj-yuxuan_box" >
                <h2><span class="zxj-yuxuan_title ">当前审核记录</span></h2>
                  <div id="zxj_sh_shInfo" style="height:100px; overflow-y:auto;"></div>
              </div>
              <div class="zxj-yuxuan_box">
                <h2><span class="zxj-yuxuan_title ">审批结论【<span class="zxj-yuxuan_orange">需填写</span>】</span></h2>
                <table width="100%" border="0" class="zxj-yuxuan_table_gl" >
                  <tr>
                    <td width="25%" class="zxj-yuxuan_td-right">审核结果：</td>
                    <td width="75%">
                        <input name="zxj_sh_shjg" value="2" type="radio" checked="checked">通过
                        <input name="zxj_sh_shjg" value="9" type="radio">退回
                        <input name="zxj_sh_shjg" value="5" type="radio">不通过
                    </td>
                  <tr>
                    <td  class="zxj-yuxuan_td-right"  valign="top">审核意见：</td>
                    <td><textarea class="zxj-yuxuan_textarea" id="zxj_sh_shyj" ></textarea></td>
                  </tr>
                  
                </table>
              </div>
              <div class="zxj-yuxuan_box"><table width="100%" border="0">
  <tr>
                       <td width="25%"> </td>
                    <td width="75%"><p class="zxj-yuxuan_pcenter">
                        <button name="zxj_sh_qr" class="wbh-common-buttondefault zxj-yuxuan_buttonwid" type="button">确定</button>
                        <button  name="zxj_sh_gb" class="wbh-common-buttondefault zxj-yuxuan_buttonmaf zxj-yuxuan_buttonwid" type="button">关闭</button>
                      </p></td>
                  </tr>
</table>
</div>
              
              </td>
          </tr>
        </table></td>
    </tr>
  </table>
  <!-- 主体 end -->
</div>

