#header { background: #7F99BE url(/images/layout-browser-hd-bg.gif) repeat-x center;} 
#header h1 {font-size: 16px;color: #fff;padding: 3px 10px; font-family:"寰蒋闆呴粦","榛戜綋"} 

.tabs{} 
.tabs{background-image: url(../images/menuPanel/bulletin_manager.gif) !important;} 
.manage{background-image: url(../images/menuPanel/admin.gif) !important;} 
.home{background-image: url(../images/home.gif) !important; line-height:30px;} 
.icon-menu{background-image: url(../images/menuPanel/sys.gif) !important;} 
#header { background: #7F99BE url(/images/layout-browser-hd-bg.gif) repeat-x center;}
#header h1 {font-size: 16px;color: #fff;padding: 3px 10px; font-family:"寰蒋闆呴粦","榛戜綋"}

.tabs{}
.tabs{background-image: url(../images/menuPanel/bulletin_manager.gif) !important;}
.manage{background-image: url(../images/menuPanel/admin.gif) !important;}
.home{background-image: url(../images/home.gif) !important; line-height:30px;}
.icon-menu{background-image: url(../images/menuPanel/sys.gif) !important;}