<div class="zxj-xiangqing_infocont">
  <table width="100%" border="0" class="zxj-yuxuan_table_gl">
    <tr>
      <td valign="top"><div class="zxj-yuxuan_top">
          <h1> <span class="zxj-yuxuan_model_xinxi">详情</span></span> </h1>
        </div></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" class="zxj-yuxuan_table_gl">
          <tr>
            <td width="50%" valign="top" class="zxj-yuxuan_table-right"><!-- 主体 start -->
              <div class="zxj-yuxuan_box" id="zxjjg-xq-stuinfo">
                
              </div>
              <div class="zxj-yuxuan_box" id="zxjjg-xq-zxjxx">
               
              </div></td> 
            
          </tr>
        </table></td>
    </tr>
     <td><table width="100%" border="0" class="zxj-yuxuan_table_gl">
          <tr>
            <td width="50%" valign="top" class="zxj-yuxuan_table-right"><!-- 主体 start -->
           	<div  class="zxj-yuxuan_box" >
             <h2><span class="zxj-yuxuan_title ">审核记录</span></h2>
             <div style="height:80px; overflow-y:auto;"  id="zxj_sh_shInfo"></div>
             </div>
            
             </td> 
            
          </tr>
        </table></td>
    <tr>
    	
    </tr>
    
  </table>
  <!-- 主体 end -->
</div>
