<!-- 学生消费情况统计 -->
<div class="sc_main">
	<!-- title -->
	<div class="sc_title"> 
		<span class="sc_title_text">学生消费情况统计</span>
		<div attr="help" class="sc_title_help"></div>
	</div>
	
	<div id="sc_xsxfqktj_help" class="sc_helpinfo">
		统计学校全体学生在选择日期期间内的消费情况，包括根据学生类型分析占比、根据日期分析消费均额统计、根据消费时间段分析消费习惯等。
	</div>
	
	<div class="sc_div_border">
		<span style="margin-right: 20px;float: left;height: 26px;line-height: 26px;color: #039403;">统计区间</span>
		<div id="sc_xsxfqktj_datepicker" style="float: left;"></div> 
		<span style="margin-left: 20px;float: left;height: 26px;line-height: 26px;color: #777;">☞选择开始时间和结束时间，如果时间正确，页面会自动刷新，统计该时间段内的学生消费情况信息。</span>
		<div style="clear: both;"></div>
	</div>
	
	<div id="sc_xsxfqktj_top" class="sc_div_border"> <div  class='loading-indicator'>正在加载....</div></div>
	
	<div style="padding: 0px;">
		<div class="sc_div_title">
			人均消费情况
		</div>
		<div id="sc_xsxfqktj_chart" ><div  class='loading-indicator'>正在加载....</div></div>
	</div>
	
	<div style="padding: 0px;">
		<div style="float: left;margin-right: 20px;">
			<div class="sc_div_title">
				分时段消费金额统计
			</div>
			<div class="sc_div_border" id="sc_xsxfqktj_pie" style="padding: 10px;height:400px;width: 400px;"><div  class='loading-indicator'>正在加载....</div></div>
		</div>
		
		<div style="float: left;">
			<div class="sc_div_title">
				分部门统计消费金额
			</div>
			<div id="sc_xsxfqktj_table" style="width: 650px;"><div  class='loading-indicator'>正在加载....</div></div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>