<table class="sc_xsxfxx_top_table">
	<tr>
		<td>
			<div class="sc_xsxfxx_top_row">
				累计消费
			</div>
			<div class="sc_xsxfxx_top_row">
				<span class="sc_xsxfxx_top_highlight">{xfze}</span>元
			</div>
		</td>
		<td>
			<div class="sc_xsxfxx_top_row">
				<span>男生占比</span> ：<span class="sc_xsxfxx_top_highlight">{nszb}%</span>
			</div>
			<div class="sc_xsxfxx_top_row">
				<span>女生占比</span> ：<span class="sc_xsxfxx_top_highlight">{nvzb}%</span>
			</div>
		</td>
		<td>
			<div  class="sc_xsxfxx_top_row">
				<span>&nbsp;&nbsp;贫困生占比</span> ：<span class="sc_xsxfxx_top_highlight">{pkzb}%</span>
			</div>
			<div class="sc_xsxfxx_top_row">
				<span>非贫困生占比</span> ：<span class="sc_xsxfxx_top_highlight">{fpkzb}%</span>
			</div>
		</td>
		<td>
			<div class="sc_xsxfxx_top_row">
				<span>农村户口占比</span> ：<span class="sc_xsxfxx_top_highlight">{nchkzb}%</span>
			</div>
			<div class="sc_xsxfxx_top_row">
				<span>城镇户口占比</span> ：<span class="sc_xsxfxx_top_highlight">{fnhkzb}%</span>
			</div>
		</td>
	</tr>
</table>