<!-- 校园信息一览 -->
<div id="sc_xyxxyl_main" class="sc_main">
	<!-- title -->
	<div class="sc_title"> 
		<span class="sc_title_text">学院简介</span>
		<div attr="help" class="sc_title_help"></div>
	</div>
	
	<div id="sc_xyxxyl_help" class="sc_helpinfo">
		统计学校的概况信息，包含学校历史沿革、校园文化、 资质荣誉等信息。
	</div>
	<div style="position: relative;">
		<!-- 化工简介 -->
		<div class="sc_xyxxyl_content">
			<img src="http://www.hnhgjx.cn/r/cms/www/blue/img/res/img3.jpg" alt="" style="width: 100%"/>
			<div class="anchor">
				<a name="xuexiaogaikuang"></a>
				<span class="sc_xyxxyl_tit_num">1</span>
				<span class="sc_xyxxyl_tit_txt">学校概况</span>
			</div>
			<img src="http://www.hnhgjx.cn/r/cms/www/blue/img/res/logo2.png" alt="" style="float: right;height: 300px;margin: 10px;"/>
			<p>
				<span class="sc_xyxxyl_content_text">
					&nbsp;&nbsp;&nbsp;&nbsp;河南化工技师学院建于1978年，地处七朝古都、全国优秀旅游城市——开封市，隶属于河南省人力资源和社会保障厅，
					是河南省唯一一所省属公办国家级化工类职业技术院校，是河南省财政全额供给事业单位，是河南省培养中、高级化工技能专门人才的重要基地。
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;学院新校区占地289亩，总建筑面积 8万余㎡，
					现有学生8455人。2002年学院被原劳动部命名为“国家级重点技工学校”。2008年被中国石油和化学工业协会、中国化工教育协会命名为“石油和化工行业职业教育与培训全国示范性实训基地”。
					2009年牵头成立“河南省化工技工教育集团”，是理事长单位。2010年被河南省人力资源和社会保障厅批准为“全民技能振兴工程高技能人才培训基地”。2011年、2013年被河南省人力资源和社会保
					障厅评为“河南省技工院校招生工作先进单位”。2012年被河南省人民政府评为"职业教育攻坚工作先进集体"。2012年被国家教育部、财政部、人力资源和社会保障部批准为“国家中等职业教育改革发展 示
					范学校”，2013被河南省人力资源和社会保障厅评为“校企合作先进单位”。荣获人力资源和社会保障部国家级技工教育和职业培训精品教材建设贡献奖，被河南省教育厅评为“河南省职业教育品牌示范学校”。
					<br>	
					&nbsp;&nbsp;&nbsp;&nbsp;学院秉承“千里之行，始于足下”的校训，倡导“劳动创造美好生活”的核心价值观，打造“最踏实、有执行力的高技能人才培养培训教育”品牌，熔铸“艰苦奋斗、 踏实肯干、积极阳光、尊重包容”的化院精神，
					坚持“以服务为宗旨、以就业为导向、以化工为特色、以学生为中心、以能力为本位、以质量为核心、以改革创新为 动力、以发展为保障、以就业竞争力为目标、以满意度为检验标准”的办学方针，
					贯彻“以德立校、依法治校、质量强校、和谐兴校”的指导思想，以“全国知名、 省内一流”“金蓝领的沃土、高技能人才的摇篮”为愿景，以“打造硬实力，强化软实力，培养综合力，提高竞争力，
					增强吸引力，扩大影响力”为发展途径和重点任务，落实“把规章制度执行到位、把每一项职责落实到位、把每一个活动升华到位、把每一件事情做到位、把每一位学生关爱到位、把每一堂课上到位”
					的质量方针，朝着“实力化院、文化化院、文明化院、和谐化院、美丽化院、幸福化院”的奋斗目标阔步前进，逐步形成了“团结、进取、责任、奉献"的校风，“尚德、精学、严教、爱生”的教风，
					“尊师、守纪、勤学、诚信”的学风。“力戒浮躁、狠抓落实、与时俱 进、再创辉煌”、“团结进取创名校、求实创新争一流”的校园文化氛围促使各种良好风气蔚然成风。
				</span>
			</p>
			
			
			<div class="anchor">
				<a name="lishiyange"></a>
				<span class="sc_xyxxyl_tit_num">2</span>
				<span class="sc_xyxxyl_tit_txt">历史沿革</span>
			</div>
			<p>
				<span class="sc_xyxxyl_content_text">
					&nbsp;&nbsp;&nbsp;&nbsp;1978年8月18日，河南省编制委员会下发豫编（1978）99号文件，同意河南省革委化工石油局开办河南省开封化工技工学校，允许招生200人，确定教职员工事业编制25人。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;1980年4月20日，河南省编制委员会下发豫编第103号文件《关于开封化工技工学校增加编制的通知》，同意河南省化工石油工业厅开封化工技工学校规模为400人，教职员工事业编制50人。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;1988年4月，河南省编制委员会下发豫编（1988）39号文件，重新核定开封化工技校事业编制106名。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;1996年11月22日，河南省机构编制委员会下发豫编（1996）85号文件《关于河南省化工学校、河南省化学工业技工学校机构编制方案的通知》,同意河南省开封化工技工学校更名为“河南省化学工业技工学校”，机构规格相当于处级，并重新核定了事业编制。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;2003年6月3日，河南省机构编制委员会下发豫编办（2003）41号文件《关于河南省化学工业技工学校更名的通知》，同意“河南省化学工业技工学校”更名为“河南省化学工业高级技工学校”。
				</span>
			</p>
			
			<div class="anchor">
				<a name="xiaoxun"></a>
				<span class="sc_xyxxyl_tit_num">3</span>
				<span class="sc_xyxxyl_tit_txt">校训</span>
			</div>
			<p>
				<span class="sc_xyxxyl_content_text">
				&nbsp;&nbsp;&nbsp;&nbsp;河南化工技师学院校训：千里之行，始于足下。
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;河南化工技师学院与改革开放同行的发展步伐也印证了“千里之行，始于足下”的校训。从1978年至今，光阴飞过35周年，经过一代又一代化院人的踏实奋进与不懈努力，今天的河南化工技师学院“全国知名，省内一流”，被誉为“金蓝领的沃土，高技能人才的摇篮”，为助推河南乃至全国经济发展做出了有目共睹的突出贡献。
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;中国文化源远流长，五千年的文明历史积淀了深厚的文化传统。我院校训深深植根于中国传统文化的土壤里。时代又为传统注入了新的活力。“千里之行，始于足下”的古训在新的时代条件下，必然以它生生不息的活力鼓舞着化院人开创新的历史，再造新的辉煌！睿智的化院人将始终秉承老子思想的精髓，朝着更高的办学目标，脚踏实地，阔步前进……
			</span>
			</p>
			<div class="anchor">
				<a name="xueyuanjingshen"></a>
				<span class="sc_xyxxyl_tit_num">4</span>
				<span class="sc_xyxxyl_tit_txt">学院精神</span>
			</div>
			<p>
				<span class="sc_xyxxyl_content_text">
					    &nbsp;&nbsp;&nbsp;&nbsp;河南化工技师学院精神为：“艰苦奋斗、踏实肯干、积极阳光、尊重包容”。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;“艰苦奋斗”是我院自1978年建校以来形成的优良传统与作风，是在漫长岁月中积淀下来的精神财富。正是历经一代又一代化院人的艰苦奋斗，学院才从最初仅有6.3亩地、建筑面积不足1000㎡，发展到今天占地面积289亩，总建筑面积8万多平方米，学生7455人，立足河南，辐射全国的“全国知名、省内一流”的学校。艰苦奋斗是河南化工技师学院在激烈的竞争中脱颖而出的法宝，也是化院精神的首要体现。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;“踏实肯干”是化院人集体性格的突出体现。“踏实”是对做事的追求；“肯”是做事的精神状态，是主动积极；“干”是落实。踏实肯干是以旺盛的精力、高度的责任感“干一行、爱一行、精一行”。踏实肯干更是指导化院全体师生“能干事、肯干事、干成事、不出事”的指南针与风向标。说一千，道一万，两横一竖就是干，行动、马上行动、踏实行动是化院人工作学习的不二选择。唯有踏实肯干才是成长进步的正道，才是惠及终生的根本之法。在36年的建校历史上，化院人始终力戒空谈，务求实效，用爱岗敬业、奋发有为、百折不挠的意志与毅力撑起一所学校欣欣向荣的今天。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;“积极阳光”是全体化院人永葆正能量、正思维、正精进的集中体现，是化院校园内永远的暖色调。每一位化院人都要用也正在用积极心态、阳光微笑面对工作、学习、生活，温暖别人，照亮自己，撑起属于自己和他人的晴空，汇聚无边的正能量，推动河南化工技师学院职业教育事业的蒸蒸日上和发展繁荣。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;“尊重包容”是全体化院人的为人处事之道，更是学院和谐团结发展的基础。任何人都有优点，同时也都有缺点。与人相处要尊重他人的优点，包容他人的缺点。“相互补台，好戏连台；相互拆台，全部垮台。”一个单位能否和谐安定，关键在于本单位中的个体能否相互尊重和包容。一个个体只有尊重和包容他人，才能快乐开心地工作和生活。彼此扶持而非相互计较，同舟共济而非同舟共挤；以理智化解纠纷，用慧心点亮人生，是化院人“尊重包容”精神的具体表现。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;“艰苦奋斗、踏实肯干、积极阳光、尊重包容”这16字化院精神对外树立形象、对内凝聚人心，使全院上下团结一致、共谋发展。“艰苦奋斗、踏实肯干”体现在身体力行上；“积极阳光、尊重包容”集中在心态认知上，这16个字是全体化院师生知行合一的完美载体。16字化院精神宛如飘扬的旗帜，又如璀璨的灯火，激励着一代又一代化院人薪火传承下去。
				</span>
			</p>
			
			<div class="anchor">
				<a name="xiaohuijiedu"></a>
				<span class="sc_xyxxyl_tit_num">5</span>
				<span class="sc_xyxxyl_tit_txt">校徽解读</span>
			</div>
			<p>
				<span class="sc_xyxxyl_content_text">
					<img src="http://www.hnhgjx.cn/u/cms/www/201405/22165423g3yk.JPG" alt="" style="float: right;height: 300px;">
					&nbsp;&nbsp;&nbsp;&nbsp;校徽以河南字母“H”、化工字母“HG”、飞扬的书卷、扬起的帆船、展飞的飞鸟、化学实验瓶、向上的人物等元素有机艺术融合形成，显著地突出了河南化工技师学院的时代特征与文化内涵。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;“H”形成飞扬的书卷，充分体现了学校教书育人的特色。“G”形成向上的人物，体现了学院以人为本、健康向上、朝气蓬勃的发展理念。化学实验瓶，突出学校以化工专业为特色办学。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;飞扬的书卷又为扬起的帆船，展现出一派千帆竞渡、百舸争流的气象，象征着学子勇于开拓、不断进取、追求卓越的精神，及寓意学子为驶入社会这个大海洋时刻准备启航。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;翱翔展翅的飞鸟，象征河南化工技师学院开拓创新、拼搏进取的时代风貌，表达了学院的腾飞发展与广阔前景，及寓意学子放飞理想的翅膀、探索真知、立志成长、回报社会的含义。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;核心图案更像一只负重前行的蜗牛，展现我院责任重大、使命光荣、任务艰巨的办学环境，从学院的现状看，学院肩负着服务民生、经济社会发展、中原经济区建设、城市化的重大责任，承担着把普通教育的失利者变成技能教育的弄潮儿的使命，面临着社会对职业教育的认识不足、学生难招、难教的艰巨任务。
					<br>&nbsp;&nbsp;&nbsp;&nbsp;核心图案又像逆风冲浪的弄潮儿，在职业教育的大潮里勇敢地劈波斩浪，扬帆远航，驶向蓝蓝的海天，如诗中所言：“长风破浪会有时，直挂云帆济沧海。”
					<br>&nbsp;&nbsp;&nbsp;&nbsp;整个校徽图案风格简洁大气，寓意明确，富有时代感和艺术性，易于识别和记忆。
				</span>
			</p>
			
			<div class="anchor">
				<a name="zhuanyejianshe"></a>
				<span class="sc_xyxxyl_tit_num">6</span>
				<span class="sc_xyxxyl_tit_txt">专业建设</span>
			</div>
			<p>
				<span class="sc_xyxxyl_content_text">
					&nbsp;&nbsp;&nbsp;&nbsp;学院设六系一部：应用化工系、工业分析系、仪表自动化系、电气自动化系、机械系、信息工程系和基础教育部。开设有化工工艺、高分子材料化工、煤化工、精细
					化工、工业分析与检验、环境保护与检测、电子显微镜操作与维护、化工仪表及自动化、化工机械与设备、管铆技术应用、数控技术应用、焊接加工、热能动力、电气技术应用、楼宇自动控制设备安装与维护
					、电力系统继电保护、计算机影视动画设计、计算机平面设计、酒店管理、应用化工技术、化学工程与工艺、机电一体化等22个常设专业和机电与机制专业技能高考班、化工专业技能高考班。其中化工工艺、工业
					分析与检验、化工仪表及自动化、化工机械与设备是我院的主体示范专业。
				</span>
			</p>
			
			<div class="anchor">
				<a name="shizituandui"></a>
				<span class="sc_xyxxyl_tit_num">7</span>
				<span class="sc_xyxxyl_tit_txt">师资团队</span>
			</div>
			<p>
				<span class="sc_xyxxyl_content_text">
					&nbsp;&nbsp;&nbsp;&nbsp;学院多年来建设了一支数量充足、专业结构合理、综合素质优良的教师队伍。学院现有教师280人,具有教授级高级讲师2人，副高级59人，中级职称155人
					，研究生25人。“全国石油和化学工业先进工作者”1人，全国化工职业教育教学名师3人，国家注册安全工程师4人，河南省职业教育教学专家1人。
				</span>
			</p>
			
			<div class="anchor">
				<a name="zizhirongyu"></a>
				<span class="sc_xyxxyl_tit_num">8</span>
				<span class="sc_xyxxyl_tit_txt">资质荣誉</span>
			</div>
			
			<div id="sideCatalog" class="sideCatalogBg" style="font-size:14px;font-family:宋体;">
				<div id="sideCatalog-catalog">
					<table width="98%" cellpadding="0" cellspacing="1" align="center">
						<tbody>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09141322sjoo.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										石油和化工行业职业教育与培训全国示范性实训基地
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/091412519gzp.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										职业学校德育先进单位
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09141220fljf.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										国家中等职业教育改革发展示范学校
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09141149cqwa.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										国家技工教育和职业培训精品教材建设贡献奖
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09141111q0f8.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										国家级重点技工学校
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09141033anyr.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										中国石油和化学工业文化建设先进单位
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09140117fqnb.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										省级卫生先进单位
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/091400421t3u.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										校企合作先进单位
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09140002sp8p.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										河南省五四红旗团委
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09135932cg3c.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										河南省技工院校招生工作先进单位
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/09135850ns17.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										河南省职业教育攻坚工作先进单位
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201405/091357211ew3.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										省级文明单位
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24163822tfhm.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										市技校系统学生运动会一等奖
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24163943ec23.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										市技工学校系统越野赛跑一等奖
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24164007p9cq.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										市干部下基层工作先进工作队
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24164028qe1u.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										省级文明单位
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24164051yx3l.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										开封市职业教育先进集体
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24164111uuso.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										河南省农村劳动力定点培训机构
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24164131pxsw.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										河南省技工学校招生先进单位
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24164158u49f.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										河南省技工教育先进集体
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24164222s2nc.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										河南省安全优秀学校
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24163324mfco.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										国家职业技能鉴定站
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/241633394f9x.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										国家级重点技工学校
									</div>
								</td>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/24163113m3n5.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										04-05年度职业培训先进单位
									</div>
								</td>
							</tr>
							<tr>
								<td width="160" align="center">
									<img class="img" src="http://www.hnhgjx.cn/u/cms/www/201308/241630165tqr.jpg" width="150" height="113" /> 
									<div style="margin:0px;padding:0px;margin:8px;">
										03年综合治理先进单位
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="anchor">
				<a name="xiaoyuanfengguang"></a>
				<span class="sc_xyxxyl_tit_num">9</span>
				<span class="sc_xyxxyl_tit_txt">校园风光</span>
			</div>
			
			<table border="0" width="100%">
				<tbody>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/14151145h032.JPG"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/14151145h032.JPG" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之一：春华亭雅
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/14151453iaqa.JPG"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/14151453iaqa.JPG" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之二：点石圆梦
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/141517084h42.JPG"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/141517084h42.JPG" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之三：蝶湖春水
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/14151947rwop.JPG"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/14151947rwop.JPG" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之四：帆山柳影
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/14152212jo42.JPG"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/14152212jo42.JPG" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之五：连心桥月
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/14152410dry5.JPG"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/14152410dry5.JPG" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之六：憩园凝翠
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/141525415b6h.JPG"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/141525415b6h.JPG" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之七：秋实亭幽
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/14152756yty2.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/14152756yty2.jpg" /></a>
							</p>
							<p style="text-align:center;">
								河南化工技师学院美丽八景之八：夜色醉心
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/270822101st4.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/270822101st4.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/27082236ki6d.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/27082236ki6d.jpg" /></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/27082250udz4.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/27082250udz4.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/27082304y10j.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/27082304y10j.jpg" /></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201403/27082315aehy.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201403/27082315aehy.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/01093114z0kt.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/01093114z0kt.jpg" /></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/01093133iru2.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/01093133iru2.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/01093148cu5n.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/01093148cu5n.jpg" /></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/01093207gpic.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/01093207gpic.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/01093222m2oc.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/01093222m2oc.jpg" /></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/02113009ktfr.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/02113009ktfr.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/02111954zmq0.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/02111954zmq0.jpg" /></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/02111909evg1.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/02111909evg1.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/02112224u9du.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/02112224u9du.jpg" /></a>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/02111554wdoo.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/02111554wdoo.jpg" /></a>
							</p>
						</td>
						<td>
							<p style="text-align:center;">
								<a target="_blank" href="http://www.hnhgjx.cn/u/cms/www/201404/02111754fdhr.jpg"><img height="262" alt="" width="350" src="http://www.hnhgjx.cn/u/cms/www/201404/02111754fdhr.jpg" /></a>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div id="sc_xyxxyl_nav" class="sc_xyxxyl_nav">
			
		</div>
	</div>
</div>