<div class="wbh-common-body">
    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">低消费</span>
        <br>
        日均消费低于<span class="wbh-common-green"> {rsjxfje} </span>元的学生数：<span class="wbh-common-green" >{dxfrs}</span>人
        ，占<span class="wbh-common-orange"> {dxfzb}%</span>
    </div>
    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">高消费</span>
        <br>
        日均消费高于<span class="wbh-common-green"> {rsjxfje} </span>元的学生数：<span class="wbh-common-green" >{gxfrs}</span>人
        ，占<span class="wbh-common-orange"> {gxfzb}%</span>
    </div>

</div>