<div class="wbh-common-container">
    <!-- 顶部 start -->

    <div class="wbh-common-top">
        <h1> <span class="wbh-common-model" style="background: none">一卡通学生消费概况统计</span><div attr="help" class="another-add-help"></div>
            <span class="another-add-more"><a class="another-add-abg" href="#">下载报表</a></span></h1>
    </div>

    <div id="{topData.pageCN}_helpinfo" class="another-add-helpinfo">
        学校消费统计从学生日生均消费、消费习惯、消费区间分布三个主题展示学生的消费信息。
    </div>
    <!-- 顶部 end -->
    <!-- 查询 start -->
    <div class="wbh-common-search">
        <form>
            <span style="margin-right: 20px;float: left;height: 26px;line-height: 26px;color: #039403;">统计区间</span>
            <div id="{topData.pageCN}_dateSection" style="float: left;"></div>
            <span style="margin-left: 20px;float: left;height: 26px;line-height: 26px;color: #777;">☞选择开始时间和结束时间，如果时间正确，页面会自动刷新，统计该时间段内的学生消费情况信息。</span>
            <div style="clear: both;"></div>
        </form>

    </div>
    <!-- 查询 end -->
    <!-- 盒子 -->
    <div class="wbh-common-box">
        <h2><span class="wbh-common-title">日生均消费统计</span>  </h2>
        <div id="{topData.pageCN}_top"></div>
        <div style="overflow: hidden;">
            <div id="{topData.pageCN}_combobox" style="float: left; margin-top: 2px;margin-right:10px;"></div>
            <div id="{topData.pageCN}_radioGroup" style="float: left"></div>
        </div>
        <div id="{topData.pageCN}_xintiaotu" style="width: 878px;"><div  class='loading-indicator'>正在加载....</div></div>
    </div>
    <!-- 盒子end -->

    <!-- 盒子 -->
    <div class="wbh-common-box">
        <h2><span class="wbh-common-title ">学生就餐习惯统计分析</span>  </h2>
        <div id="{topData.pageCN}_bottom"></div>

        <div id="{topData.pageCN}_pie" style="width: 878px"><div  class='loading-indicator'>正在加载....</div></div>
    </div>
    <!-- 盒子end -->

    <!-- 盒子 -->
    <div class="wbh-common-box">
        <h2><span class="wbh-common-title ">学生消费能力区间分布</span>  </h2>
        <div id="{topData.pageCN}_middle"></div>

        <div id="{topData.pageCN}_xiaofeiqujian" style="width: 878px"><div  class='loading-indicator'>正在加载....</div></div>
    </div>
    <!-- 盒子end -->

    <!-- 主体 end -->
</div>