<div class="wbh-common-body">
    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">日生均消费笔数</span><br>
        全校 <span class="wbh-common-orange"> {RSJXFBS}</span> 笔。
        男：<span class="wbh-common-green">{N_RSJXFBS}</span> 笔。  女：<span class="wbh-common-green">{V_RSJXFBS}</span> 笔。
    </div>

    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">日生均消费金额</span><br>
        全校<span class="wbh-common-orange">{RSJXFJE}</span> 元。
        男：<span class="wbh-common-green">{N_RSJXFJE}</span> 元。 女：<span class="wbh-common-green">{V_RSJXFJE}</span> 元。
    </div>

</div>