<div class="wbh-common-container">
    <!-- 顶部 start -->
    <div class="wbh-common-top">
        <h1> <span class="wbh-common-model">来校学生生源地分析</span> </h1>
    </div>
    <!-- 顶部 end -->
    <!-- 主体 start -->
    <!-- 盒子 -->
    <div class="wbh-common-box">
        <h2><span class="wbh-common-title ">学校标签</span> <span class="another-add-more"><a href="#">更多>></a></span></h2>
        <div class="wbh-common-body">
            <div class="another-add-rongyuimg">
                <img src="image/u56.png" width="67" height="52" /><br />
                河南省职业教育品牌示范学校
            </div>
            <div class="another-add-rongyuimg">
                <img src="image/u56.png" width="67" height="52" /><br />
                河南省职业教育品牌示范学校
            </div> <div class="another-add-rongyuimg">
            <img src="image/u56.png" width="67" height="52" /><br />
            河南省职业教育品牌示范学校
        </div> <div class="another-add-rongyuimg">
            <img src="image/u56.png" width="67" height="52" /><br />
            河南省职业教育品牌示范学校
        </div>
        </div>
    </div>
    <!-- 盒子end -->
    <!-- 盒子 -->
    <div class="wbh-common-box">
        <h2><span class="wbh-common-title ">教学资源</span>  </h2>
        <div class="wbh-common-body">
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
        </div>
    </div>
    <!-- 盒子end -->
    <!-- 盒子 -->
    <div class="wbh-common-box">
        <h2><span class="wbh-common-title ">师资</span>  </h2>
        <div class="wbh-common-body">
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
            <div class="another-add-ziyuanblock">
                开设54个专业，4个示范专业。开设600门课程
            </div>
        </div>
    </div>
    <!-- 盒子end --><!-- 主体 end -->
</div>
