<div class="schoolbasic-windows-container">
    <div class="schoolbasic-windows-top">
        <div class="schoolbasic-windows-title">{0}</div>
        <div class="schoolbasic-windows-icons">
            <a class="schoolbasic-windows-down" href="#"></a>
            <a class="schoolbasic-windows-left" href="#"></a>
            <a class="schoolbasic-windows-right" href="#"></a>
            <a class="schoolbasic-windows-change" href="#"></a>
            <a class="schoolbasic-windows-close" href="#"></a>
        </div>
    </div>
    <div class="schoolbasic-windows-content" id="{1}"></div>
</div>
