<div class="wbh-common-container">
    <!-- 顶部 start -->
    <div class="wbh-common-top">
        <h1> <span class="wbh-common-model" style="background: none">来校学生生源地分析</span><div attr="help" class="another-add-help"></div> <span class="another-add-more"><a class="another-add-abg" href="#">下载报表</a></span></h1>
    </div>

    <div id="{topData.pageCN}_helpinfo" class="another-add-helpinfo">
        学生来源地及毕业学校统计。展示来我校上学的学生的来源地分布情况统计。切换时间可以统计该时段内的来源地分布情况。分性别、毕业学历等不同角度展示学生的来源地分布。
    </div>
    <!-- 顶部 end -->
    <div id="{topData.pageCN}_navigation" style="margin-bottom: 10px;"></div>
    <!-- 主体 start -->
    <!-- 盒子 -->
    <!-- 盒子end -->
    <!-- 查询 start -->
    <div class="wbh-common-search">
        <form>
            <span style="margin-right: 20px;float: left;height: 26px;line-height: 26px;color: #039403;">统计区间</span>
            <div id="{topData.pageCN}_dateSection" style="float: left;"></div>
            <span style="margin-left: 20px;float: left;height: 26px;line-height: 26px;color: #777;">☞选择开始时间和结束时间，页面会自动刷新，统计该时间段内的来学校学生的来源地统计信息。</span>
            <div style="clear: both;"></div>
        </form>
    </div>
    <!-- 查询 end -->
    <!--统计start-->
    <div class="wbh-common-stats" style="overflow:hidden;" id="{topData.pageCN}_titletable">
    </div>
    <!--统计end-->
    <div class="wbh-common-box" style="margin-top:10px;">
        <div id="{topData.pageCN}_combobox"></div>
        <div class="wbh-common-clear"></div>
        <div style="float: left;margin-top: 10px;">
            <div style="text-align: center"><img src="app/pages/sc/template/images/gd.jpg" /></div>
            <div class="another-add-tongjitu" style="width: 400px; height:380px;" id="{topData.pageCN}_map"></div>
        </div>
        <div class="another-add-tongjitu" style="width:400px; height:380px;" id="{topData.pageCN}_pie"></div>
        <div class="wbh-common-clear"></div>
    </div>
    <!-- 盒子end -->
    <!-- 列表 -->
    <div class="wbh-common-body" id="{topData.pageCN}_tabIndex"></div>
    <div class="wbh-common-body" id="{topData.pageCN}_table"></div>

    <div class="wbh-common-body" id="{topData.pageCN}_table1"></div>
    <!--列表end-->
    <!-- 主体 end -->
</div>