<div class="sc_main">
	<!-- title -->
	<div class="sc_title"> 
		<span class="sc_title_text">学校开设课程情况统计</span>
		<div attr="help" class="sc_title_help"></div>
	</div>
	
	<div id="sc_xxkcktj_help" class="sc_helpinfo">
		统计学校的课程信息，包含课程库的课程总量，开设课程中的理论课与实践课占比，以及本学期开设课程的理论课与实践课情况。以图表形式展示了学校课程的分类情况和承担单位信息。
	</div>
	<!-- 顶部文字统计 -->
	<div class="sc_xxkcktj_sub">
		<table>
			<tr>
			<td style="width: 20%"> 
				<div id="sc_xxkcktj_top1" style="font-size:13px;font-weight:bold;"> 
				 </div>
			</td>
			<td style="width: 60%;">
				<div >
					<table style="margin: auto;">
						<tr>
							<td style="width: 200px;">
								<div id="sc_xxkcktj_top4" class="sc_xxkcktj_sub02_chart"></div>
							</td>
							<td>
								<div id="sc_xxkcktj_top2" style="font-size:13px;font-weight:bold;">
								</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td style="width: 20%;text-align: right;">
				<div id="sc_xxkcktj_top3" style="font-size:16px;font-weight:bold;text-align: center; line-height: 35px;">
				</div>
			</td>
			</tr>
		</table>
	</div>
	<!-- 下边table统计 -->
	<div class="sc_xxkcktj_table">
		<div class="sc_xxkcktj_chart_title">
			各院系课程建设对比
		</div>
		<div id="sc_xxkcktj_table">
		</div>

	</div>
	<!-- 中间chart统计 -->
	<!--<div>
		<div class="sc_xxkcktj_chart_title">课程类型统计</div>
		<div id="sc_xxkcktj_chart" class="sc_xxkcktj_chart_char">
		</div>
	</div>-->
	

</div>