<div class="wbh-common-body">
    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">日均三餐</span><br>
        达标学生:<span class="wbh-common-green"> {three.RS} </span>人
        ，占比<span class="wbh-common-orange"> {three.ZB}%</span>
    </div>
    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">日均两餐</span><br>
        符合学生:<span class="wbh-common-green"> {two.RS} </span>人
        ，占比<span class="wbh-common-orange"> {two.ZB}%</span>
    </div>
    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">日均不足两餐</span><br>
        符合学生:<span class="wbh-common-green"> {one.RS} </span>人
        ，占比<span class="wbh-common-orange"> {one.ZB}%</span>
    </div>
    <!--<div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">经常不吃早餐</span><br>
        符合学生:<span class="wbh-common-green"> 245 </span>人
        ，占比<span class="wbh-common-orange"> 25.67%</span>
    </div>
    <div class="another-add-ziyuanblock">
        <span class="wbh-common-model" style="background: none;">经常不吃晚餐</span><br>
        符合学生:<span class="wbh-common-green"> 367 </span>人
        ，占比<span class="wbh-common-orange"> 28.32%</span>
    </div>-->
</div>