<!-- 在籍学生素质统计 -->
<div class="sc_main">
	<!-- title -->
	<div class="sc_title"> 
		<span class="sc_title_text">在籍学生素质统计</span>
		<div attr="help" class="sc_title_help"></div>
	</div>
	
	<div id="sc_zjxssztj_help" class="sc_helpinfo">
		统计学校在籍学生的入学学历、培养层次和学制信息。
	</div>
	<!-- 顶部文字统计 -->
	<div>
		<div class="sc_div_title">
			学生入学前学历
		</div>
		
		<div class="sc_div_border">
			<div id="sc_zjxssztj_row11" style="float: left;width: 700px;height: 400px;margin-right: 30px;">
				
			</div>
			<div id="sc_zjxssztj_row12" style="float: left;width: 600px;margin-top: 10px;">
				
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	
	<div>
		<div class="sc_div_title">
			在籍学生培养层次
		</div>
		
		<div class="sc_div_border">
			<div id="sc_zjxssztj_row21" style="float: left;width: 700px;height: 400px;margin-right: 30px;">
				
			</div>
			<div id="sc_zjxssztj_row22" style="float: left;width: 600px;margin-top: 10px;">
				
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
	
	<div>
		<div class="sc_div_title">
			学生学制
		</div>
		
		<div class="sc_div_border">
			<div id="sc_zjxssztj_row31" style="float: left;width: 700px;height: 400px;margin-right: 30px;">
				
			</div>
			<div id="sc_zjxssztj_row32" style="float: left;width: 600px;margin-top: 10px;">
				
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>