 <div cs-window show="xqDiv" autoCenter="true" offset="offset" title="data.title">
 <div class="modal-dialog  modal-lg" style="max-height: calc(100% - 60px);overflow-y: auto;">
			<div class="popup-form popup-form-blue" style="margin:0px">
<!--  <div class="popup-form-head clearfix">
			    	<h3 class="popup-form-title">
			    		{{data.title}}
			    	</h3>
			        <a href="javascript:void(0);" class="popup-form-close" ng-click="hideModalForm()">
			        	<span class="popup-form-close"></span>
			        	<span class="popup-form-close-red"></span>
			        </a>
			    </div> -->
 <div class="popup-form-body clearfix" >
 <div class="popup-form-con clearfix" >
				    	<div class="pull-right">
			            	<a href="javascript:void(0);" class="popup-form-export btn btn-default" ng-click="exportExcel();">
			                    <span>导出</span>
			                </a>
			            </div>
			    	</div>
 <div class="table-box">
				    	<table class="popup-form-table">
				        	<thead>
				            	<tr>
				                    <td ng-repeat="item in data.titles">
				                    <a href="" ng-click="orderReload($index);" ng-class="titlesClick[$index]==true?'':'dropup'">{{item}} <span ng-class="titlesClick[$index]!=null?'caret':''"></span></a>
				                    </td>
				                </tr>
				            </thead>
				            <tbody>
				            	<tr ng-repeat="item in data.resultList">
          							<td ng-repeat="key in data.titlesCode">{{item[key]}}</td>
				                </tr>
			                </tbody>
				        </table>
			    	</div>
 <div class="clearfix">
            <!--分页-->
      	<div class="pull-left" style="line-height: 38px;margin: 5px;">当前查询：共 {{page.totalPages}} 页，数据 {{page.totalRows}} 条</div>
		<div class="table-info table-inline-block set-page-width fright">
				<div pagination total-items="page.totalRows" ng-model="page.currentPage" max-size="page.numPerPage" items-per-page="page.numPerPage"
				 class="pagination-sm pull-right" boundary-links="true" style="margin:10px 0"></div>
			</div>
      	</div> 
      	</div>
      	      	</div> 
      	</div>
      	</div>
 <style>
 .popup-form{
	width:100%;
	color:#575757;
	font-family:"微软雅黑";
	border-radius:6px;
	box-shadow:3px 3px 7px #d1d0d0;
	-webkit-box-shadow:3px 3px 7px #d1d0d0;
	-moz-box-shadow:3px 3px 7px #d1d0d0;
	-ms-box-shadow:3px 3px 7px #d1d0d0;
	-o-box-shadow:3px 3px 7px #d1d0d0;
	}
.popup-form a:link,
.popup-form a:hover{
	text-decoration:none;
}
.popup-form-blue .popup-form-head{
	/* background-color:#88abda; */
	background-color:#FFF;
	border:1px solid #FFF;
	}
.popup-form-head{
	padding:13px 23px;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	color:#000;
	}
.popup-form-head>.popup-form-title{
	margin:0;
	font-size:18px;
	display:inline-block;
	vertical-align:middle;
	}
.popup-form-head>.popup-form-close{
	display:inline-block;
	vertical-align:middle;
	float:right;
	width:24px;
	height:24px;
	overflow:hidden;
}
.popup-form-head>.popup-form-close span{
	transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	-webkit-transform:translateY(0);
	transition:all linear .3s;
	-moz-transition:all linear .3s;
	-ms-transition:all linear .3s;
	-o-transition:all linear .3s;
	-webkit-transition:all linear .3s;
	background-image: url(../static/angular_expand/image/popup-form-close-red.png);
	/* background-image: url(../static/angular_expand/image/popup-form-close.png); */
	display: block;
	height: 24px;
	width: 24px;
}
/* .popup-form-head>.popup-form-close:hover span{
	transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	transition:all linear .3s;
	-moz-transition:all linear .3s;
	-ms-transition:all linear .3s;
	-o-transition:all linear .3s;
	-webkit-transition:all linear .3s;
	background-image: url(../static/angular_expand/image/popup-form-close-red.png);
} */
.popup-form-body{
	border:1px solid #d9d9d9;
	border-top:none;
	background:#eeeeee;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	padding:10px 23px;
	}
.popup-form-body>div{
	margin:5px 0 10px 0;
	}
.popup-form-con>div{
	display:inline-block;
	vertical-align:middle;
	}
.popup-form .cg-select-dropdown .input-area{
	font-size:14px;
	}
.popup-form-export{
	border:1px solid #ccc;
	border-radius:4px;
	padding:5px 6px 6px 6px;
	display:block;
    background: url(../static/angular_expand/image/popup-form-export.png) no-repeat 10px center #fff !important; 
    padding-left: 38px
}

.popup-form-export span{
	color:#575757;
	display:inline-block;
	vertical-align:middle;
	}
.popup-form-table{
	font-size:14px;
	text-align:center;
	border-radius:4px;
	border-collapse:separate;
	background:#fff;
	margin-bottom:10px;
	width: 100%;
}
 .popup-form-table th{
	font-weight:normal;
	text-align:center;
	}
 .popup-form-table thead tr td{
	font-weight:bold;
	}
 .popup-form-table th,
 .popup-form-table thead tr td{
	color:#6a8ebf;
	}
 .popup-form-table>thead>tr>td,
 .popup-form-table>tbody>tr>td,
 .popup-form-table>tbody>tr>th{
	border:0;
	border-top:1px dashed #d2d2d2;
	border-left:1px solid #d2d2d2;
	padding:12px;
	vertical-align:middle;
	white-space: nowrap;
	}
 .popup-form-table>thead>tr>td:first-child,
 .popup-form-table>tbody>tr>td:first-child{
	border-left:0;
	}
.popup-form-table-out .mCSB_horizontal.mCSB_inside > .mCSB_container{
		margin-right: 0;
		margin-bottom: 0px;
	}
.popup-form-body>div.table-box {
	width:100%; overflow-x: auto;margin: 5px 0 0 0;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 5px 0 10px 0;
	border-radius: 4px;
}
.modal-dialog {
    margin: 0 auto;
}
 </style>
