/**cs-window样式*/
.cs-window-windows {
    position: absolute;
    z-index:1999;
    background:#fff;
/*     border:1px solid #999;*/
    border-radius:5px; 
  
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); */
   box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.cs-window-windows .content{
	  padding:20px;
	}
.cs-window-background {
    background:#ccc;
    opacity:0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
}
body {
    height:100%;
}
.cs-window-loading {
	position:fixed;
	top:50%;
	left:50%;
	height:100px;
	width:100px;
	margin-left:-33px;
	margin-top:-65px;
	z-index:1999;   
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	text-align:center
}
.cs-window-img {
	background:url("../image/loading.gif");
	width : 100px;
	height : 100px;
}