<div class="zxj_container">
  <!-- 顶部 start -->
  <div id="{zxj_top}">
  
  </div>
  <!-- 顶部 end -->
  
  <!-- 主体 start -->
  <!-- 盒子 -->
  <div id="{zxj_select}" class="zxj_box">
   
  </div>
  <!-- 盒子end -->
  
  <!-- 查询 start -->
  <div id="{zxj_tbar}" class="zxj_search">

  </div>
  <!-- 查询 end -->
  
  <!--统计start-->
  <div id="{zxj_tj}" class="zxj_stats">
   
  </div>
  <!--统计end-->
  
  <!-- 列表 -->
  <div id="{zxj_grid}" class="zxj_body" > 
  
  </div>
  <!--列表end-->
  <!--底部start-->
  <div id="{zxj_bottom}"> 
  
  </div>
  <!--底部end-->
  <!-- 主体 end -->
</div>

